<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='utf8'>
        <title>{$title}</title>
        <meta name="Keywords" content="Qt5,C/C++,Linux,PHP,Web架构,高性能,分布式,NullGet,WebNullGet,qtchina,Qt,下载软件,多线程下载软件,多协议下载软件,MMS下载,RTSP下载,HTTP下载,HTTPS下载,FTP下载,分块下载,在线视频下载软件，流媒体下载软件,Qt 4,China,Qt 4 Solution,Qt 4 解决方案" />
        <meta name="robots" content="all" />
        <meta name="googlebot" content="all" /> 
        <link rel="stylesheet" href="../css/base.css" type="text/css" />
    </head>
<body>

<table width="80%" height="80 px" align="center">
  <tr>
    <td>
      <div id="branding"><strong><a href="/">
        <img src="../images/nullget_labs.gif" alt="www.qtchina.net " title="www.qtchina.net " id="logo" />
        <span>www.qtchina.net</span>            </a></strong></div>
      </div>
    </td>
  </tr>
</table>

<table width="80%" align="center">
  <tr>
    <td>
      <h2>{$title}</h2>
    </td>
  </tr>

  <tr>
    <td>
      发布： {$date|date_format: "%Y-%m-%d %H:%M"}
    </td>
  </tr>

  <tr>
    <td width="50%">
      <br />
{$body}
    </td>
  </tr>
  <tr>
    <td>
      <br /><br />
      原文： <a href='http://nullget.sourceforge.net/?q=node/{$nid}'>http://nullget.sourceforge.net/?q=node/{$nid}</a>
    </td>
  </tr>

</table>

<p></p>
<p></p>
<p></p>
<table width="60%"><tr><td  align="center">
  <div>
    <span>Powered by <a href="http://nullget.sourceforge.net">zexport</a></span>  </div>
  </div>
  </td></tr></table>

<br />
<div>
{include file="block_goana.html" title="aaa"}
</div>
</body>
</html>
